.react-root {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    text-align: center;
  }
  