/* Amber Logo styling */
.amber-logo-container {
  display: flex;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
}
.amber-logo {
  height: 40px;
}
.amber-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.amber-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* Timer and intention display */
.timer-count {
  margin: 0px;
  font-weight: 700;
  font-family: Lora, serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
  color: #b06446;
}
.intention-banner {
  border-radius: 10px;
  margin-left: 35px;
  flex-direction: column;

  background-color: #fae091;
  width: 80%;
}
.intention-banner-content {
  margin: 0px;
  font-weight: 600;
  font-family: Lora, serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
  color: #fff;
}
/* Settings and login buttons */
.navbar-container {
  flex: 0 1 0%;
  width: 100%;
  z-index: 3;
  position: sticky;
  bottom: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 78px;
}
.navbar-container:hover {
  fill: #d78870;
  color: #d78870;
}
.login-btn {
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: 115px;
  color: #d78870;
}
.login-btn:hover {
  color: #862b10;
  fill: #862b10;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.login-btn path:hover {
  color: #862b10;
  fill: #862b10;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.login-btn svg:hover {
  color: #862b10;
  fill: #862b10;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.settings-login-btn-text {
  margin: 8px 0px 0px;
  font-weight: 700;
  font-family: Karla, sans-serif;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: inherit;
  text-align: center;
}
.read-the-docs2 {
  color: #888;
  font-size: 16px;
}
